@charset "UTF-8";
html{font-size: 62.5%;}
h1, h2, h3, h4, h5, h6, th{
	font-weight:normal;
}
a{
	transition: all 0.4s ease-in;
	-webkit-transition: all 0.4s ease-in;
	color:#000;
}
a:hover{
	opacity:0.8;
}
body{
	font-family:"游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
	overflow-x:hidden;
	color:#000;
}
.loading{
	display:block;
	transition: all 1s ease-in;
	-webkit-transition: all 1s ease-in;
	display:flex;
	display:-webkit-flex;
	justify-content:center;
	-webkit-justify-content:center;
	align-items:center;
	-webkit-align-items:center;
	top:0;
	position:fixed;
	z-index:10;
	width:100%;
	height:100vh;
	opacity:1;
	background:#fff;
	text-align:center;
	font-size:2rem;
	color:#000;
	letter-spacing:0.2rem;
}
.loading.is-active{
	opacity:0;
	visibility:hidden;
}
.loading-cont p{
	margin-top:20px;
}
.wrap-content.header-wrap{
	position:fixed;
	z-index:9;
	top:0;
	width:100%;
	background:rgba(255,255,255,0.8);
	box-shadow:0 -3px 8px rgba(0,0,0,0.3);
}
[class*="mb-g-nav"]{
	display:none !important;
}
.header{
	width:1280px;
	margin:0 auto;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;
	height:100px;
}
.header-h{
	color:inherit;
	text-decoration:none;
}
.header-h__desc{
	margin-left:50px;
	margin-bottom:10px;
	font-size:1rem;
	display:block;
  text-shadow:0 0 10px rgba(255,255,255,1);
}
.header-h__logo{
	width:332px;
  -webkit-filter:drop-shadow(0px 0px 10px #fff);
}
.g-nav-pc{
	margin-top:45px;
	width:900px;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;
}
.g-nav-pc .g-nav-pc__item a{
	color:inherit;
	font-size:1.3rem;
	text-decoration:none;
}
.cont-width{
	width:963px;
}
.lower-head .lower-head__title{
	position:relative;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	font-size:3.8rem;
	margin:73px 0px 67px;
	padding-bottom:20px;
	display:inline-block;
}
.lower-head .lower-head__title:after{
	content: "";
    display: block;
    width: 70%;
    height: 1px;
	background: #ff7200;
	position:absolute;
    bottom: 0;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
}
.lower-head .lower-head__background{
	position:relative;
	height:466px;
	overflow:hidden;
	width:100%;
}
.lower-head .lower-head__background .background{
	position:absolute;
	background-repeat:no-repeat;
	background-size:cover;
}
.lower-head .pnkz{
	background:#f7f7f7;
	padding:10px 0;
}
.lower-head .pnkz ul{
	width:1200px;
	margin:0 auto;
	display:flex;
	display:-webkit-flex;
}
.lower-head .pnkz ul li:after{
	content:">";
	margin:0 10px;
}
.lower-head .pnkz ul li:last-of-type:after{
	content:"";
	margin:0 0;
}
.lower-head .pnkz ul li a .fa{
	font-size:1.2rem;
	margin-right:4px;
}
.footer{
	background:#d7d793;
	padding:20px 0;
}
.ft-nav{
	width:1280px;
	margin:0 auto;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;
	height:100px;
}
.ft-nav-logo-h{
	color:inherit;
	text-decoration:none;
}
.ft-nav-logo-h__desc{
	margin-left:50px;
	margin-bottom:10px;
	font-size:1rem;
	display:block;
}
.ft-nav-logo-h__logo{
	width:332px;
}
.ft-nav-main-pc{
	margin-top:45px;
	width:900px;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;
}
.ft-nav-main-pc .ft-nav-main-pc__item a{
	color:inherit;
	font-size:1.3rem;
}
.ft-nav-main-pc{
	margin-top:45px;
	width:900px;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:center;
	-webkit-align-items:center;
}
.ft-nav-main-pc .ft-nav-main-pc__item a{
	color:inherit;
	font-size:1.3rem;
}
.footer__sub{
	width:1280px;
	margin:30px auto 0;
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	align-items:flex-end;
	-webkit-align-items:flex-end;
}
.ft-fact-info{
	display:flex;
	display:-webkit-flex;
	justify-content:space-between;
	-webkit-justify-content:space-between;
	width:600px;
}
.ft-fact-info__item .fact-info__name{
	font-size:2.2rem;
	margin-bottom:20px;
}
.ft-fact-info__item .fact-info__add, .ft-fact-info__item .fact-info__tel{
	font-size:1.3rem;
	margin-bottom:10px;
}
.ft-nav-sub{
}
.ft-nav-sub .ft-nav-sub__item{
	color:inherit;
	font-size:1.3rem;
	margin-left:30px;
}
.ft-nav-sub .ft-nav-sub__item a{
	color:inherit;
	font-size:1.3rem;
}
.ft-nav-sub__item.copyright{
	margin-left:60px;
}
.hush-link{
	position:absolute;
	top:-20vh;
	left:0;
	width:1px;
	height:1px;
	visibility:hidden;
}